<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <style>
      /* Özel stil ayarlamaları */
      .sidebar-header {
        border-bottom: 2px solid #e5e7eb; /* Gri çizgi */
        padding-bottom: 1rem; /* Alt boşluk */
      }
      .modal {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
      }
      .modal.show {
        transform: translateY(0);
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <!-- Container -->
    <div
      class="w-full flex bg-[#f8f4f3] h-[673px] overflow-hidden justify-center items-start gap-8"
    >
      <!-- Left Container -->
      <div class="w-1/6 p-4 overflow-auto bg-white h-full rounded-lg shadow-md">
        <%- include('partials/userPanel') %>
      </div>

      <!-- Right Container -->
      <div class="w-5/6 h-full p-4 bg-[#f8f4f3] overflow-hidden">
        <div
          class="flex flex-col gap-5 h-full shadow-md overflow-auto rounded-lg bg-white p-4 relative"
        >
          <div>
            <h1 class="text-gray-700 font-semibold text-md mb-4">
              Kisisel bilgiler
            </h1>
            <div class="px-2">
              <form action="/auth/save">
                <div class="mb-2">
                  <p class="ml-2 font-medium text-sm text-gray-700">
                    E-posta Adresi
                  </p>
                  <label
                    class="block font-medium text-sm text-gray-700"
                    for="email"
                  ></label>
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    value="<%= user.email %>"
                    disabled
                    class="w-full rounded-md py-2.5 px-4 border text-sm outline-[#f84525] cursor-not-allowed"
                  />
                </div>
                <div class="mb-2">
                  <p class="ml-2 font-medium text-sm text-gray-700">
                    Kullanıcı Adı
                  </p>
                  <label
                    class="block font-medium text-sm text-gray-700"
                    for="username"
                  ></label>
                  <input
                    type="text"
                    name="username"
                    placeholder="Kullanıcı Adı"
                    value="<%= user.name %>"
                    class="w-full rounded-md py-2.5 px-4 border text-sm outline-[#f84525]"
                  />
                </div>
                <div class="mb-2">
                  <p class="ml-2 font-medium text-sm text-gray-700">Şifre</p>
                  <label
                    class="block font-medium text-sm text-gray-700"
                    for="password"
                  ></label>
                  <input
                    type="password"
                    name="password"
                    placeholder="Şifre"
                    class="w-full rounded-md py-2.5 px-4 border text-sm outline-[#f84525]"
                  />
                </div>
              </form>
              
            </div>

          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

  </body>
</html>
